<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Green Bee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script type="text/javascript" src="js/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="css/dx.light.css" />
    <link rel="stylesheet" type ="text/css" href ="css/styles.css" />
    <script type="text/javascript" src="js/dx.all.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
</head>
<body>


<div class = "menu">
    <button class = "menuitem" onclick="feed_click()">Лента</button>
    <button class = "menuitem" onclick="all_click()">Все теплицы</button>
    <button class = "menuitem" onclick="report_click()">Отчеты</button>
</div>

<div class = "content" id="main_content">
    <div class="feed">
     <ul class = "feedmenu">
        <li class="greenhouseitem">
            <div class="notificationname">Теплица 1</div>
            <div class="notificationtime">18:00:53</div>
            <div class="notificationtext">Хорошо все</div>
        </li>
      </ul>
    </div>
</div>


<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript">
    var intervalId = setInterval(updateInfo, 1000);
    setInterval(update_table,1000);
    setInterval(feed_update,1000);
</script>

</body>
</html>