<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script type="text/javascript" src="js/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="css/dx.light.css" />
    <link rel="stylesheet" type ="text/css" href ="css/styles.css" />
    <script src="js/dx.all.js"></script>
    <script src="js/data.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>


<ul class = "menu">
    <li class = "menuitem"><a class="active" href="#feed">Лента</a></li>
    <li class = "menuitem"><a href="#all">Все теплицы</a></li>
    <li class = "menuitem"><a href="#add">Добавить теплицу</a></li>
</ul>

<div class = "content">
    <div class="feed">
        <ul class = "feedmenu">
            <li class="greenhouseitem">
                <p>Теплица 1</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 2</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 3</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 4</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 5</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 6</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 7</p>
            </li>
            <li class="greenhouseitem">
                <p>Теплица 8</p>
            </li>
        </ul>
    </div>
    <div class="all">
        <table border="1">
            <tr>
                <th>Номер обьекты</th>
                <th>Тип продукции</th>
                <th>Дата посадки</th>
                <th>Текущая температура</th>
                <th>Текущая влажность</th>
            </tr>
            <tr><td>Теплица 1</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 2</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 3</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 4</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 5</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 6</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 7</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 8</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>
            <tr><td>Теплица 9</td><td>Салаты</td><td>21.02.2017</td><td>23</td><td>80</td></tr>

        </table>
    </div>
    <div class="add">

    </div>
</div>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>